{% extends 'base/base.html' %}

{% block titulo %}
    Prueba de Bootstrap
{% endblock %}

{%block contenidoTitulo%}

<div class='bloque-de-color'>
    <div class='contLandind'>
        <h3>Categorias</h3>
    </div>  
</div>

{%endblock%}

{% block contenidoPrincipal %}
{% load static %}


<div class="row text-center">
    <div class="col-md-15">
        <a href="{%url 'Productos'%}">
        <div class="category-card bg-info">
            <h2 class="h2Categorias">JUEGOS <img src="{% static 'images/contacto.png'%}" class="imgCategoria"></h2> 
            <ul class="textCategorias">
                <li>DE MESA</li>
                <li>DIDACTICOS</li>
                <li>ELECTRONICOS</li>
                <li>DEPORTIVOS</li>
            </ul>
        </div>
    </a>
    </div>

    <div class="col-6">
        <a href="{%url 'Productos'%}">
        <div class="category-card bg-purple">
            <h2 class="h2Categorias">PUZZLES <img src="{% static 'images/contacto.png'%}" class="imgCategoria"></h2>
            <ul class="textCategorias">
                <li>RUBIK’S</li>
                <li>ROMPECABEZAS</li>
                <li>DESTRZA</li>
            </ul>
        </div>
    </a>
    </div>

    <div class="col-6">
        <a href="{%url 'Productos'%}">
        <div class="category-card bg-primary">
            <h2 class="h2Categorias">CREATIVOS <img src="{% static 'images/contacto.png'%}" class="imgCategoria"></h2>
            <ul class="textCategorias">
                <li>DIBUJAR</li>
                <li>COLOREAR</li>
                <li>DIBUJAR</li>
            </ul>
        </div>
    </a>
    </div>
</div>
{% endblock %}
