{% extends "base/base.html" %}

{% load static %}

{% block titulo %} Cuenta {% endblock %}

{% block contenidoTitulo %}
    <div class='bloque-de-color'>
        <div class='contLandind'>
            <h3>Inicia sesión</h3>
        </div>  
    </div>
{% endblock %}

{% block contenidoPrincipal %}
    <div class="loginContenedor">
        <div class="login">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <h4 class="{{ message.tags }}">{{ message }}</h4>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="{% url 'Cuenta' %}" method="post" class="formLogin">   
                {% csrf_token %}
                <img src="{% static 'images/rubik.png' %}" alt="Logo" class="imgCuenta">
                <input type="text" name="username" placeholder="Nombre de usuario" class="inputLogin" pattern="[a-zA-Z]{1,8}" title="El nombre de usuario debe contener solo letras y tener entre 1 y 8 caracteres." required>
                <input type="password" name="password" placeholder="Contraseña" class="inputLogin" required>
                <button type="submit" class="button2">Iniciar Sesión</button>
            </form>
            <!--
            <p class="textoCuenta"><br>¿Aún no tienes cuenta? <a href="{% url 'Registro' %}" class="textoRegistro">Regístrate</a></p>
            -->
            </div>
    </div>
{% endblock %}