{% extends "base/base.html" %}
{%load static%}

{%block titulo%} Inicio {%endblock%}

{%block contenidoTitulo%}

<div class='bloque-de-color'>
    <div class='contLandind'>
        <div>
            <img src="{% static 'images/cubo.gif'%}" alt="Valores" class="img-bloque">
        </div>
    </div>  
</div>

{%endblock%}

{%block contenidoPrincipal%}

    <div class="container">
        <div class="item large purple">
            <div class='title-cat'>
                <h2>Puzzles</h2>
            </div>
            <img src="{% static 'images/rompecabezas.png'%}" alt="Valores" class="img-cat-large">
        </div>
        <div class="item medium pink">
            <div class='title-cat'>
                <h3>De mesa</h3>
            </div>
            <img src="{% static 'images/ajedrez.png'%}" alt="Valores" class="img-cat-m">
        </div>
        <div class="item small blue">
            <div class='title-cat'>
                <h3>Didacticos</h3>
            </div>
            <img src="{% static 'images/numeros.png'%}" alt="Valores" class="img-cat">
        </div>
        <div class="item small violet">
            <div class='title-cat'>
                <h3>Memoria</h3>
            </div>
            <img src="{% static 'images/cartas.png'%}" alt="Valores" class="img-cat">
        </div>
        <div class="item small light-purple">
            <div class='title-cat'>
                <h3>Colorear</h3>
            </div>
            <img src="{% static 'images/colorear.png'%}" alt="Valores" class="img-cat">
        </div>
    </div>

    <div class='title'>
        <h3>Más vendido</h3>
    </div>

<div class='cont-prod'> 
    <div class="container-masv">
        <div class="products">
            <div class="product">
                <img src="{% static 'images/rubik2x2.jpg'%}" alt="Cubo 3x3" class="img">    
                <h3>Cubo 2X2</h3>
                <p class="p">$300</p>
                <button class="button">Ver Detalles</button>
            </div>

            <div class="product">
                <img src="{% static 'images/rubik4x4.jpg'%}" alt="Cubo 3x3" class="img">
                <h3>Cubo 4X4</h3>
                <p class="p">$300</p>
                <button class="button">Ver Detalles</button>
            </div>

            <div class="product">
                <img src="{% static 'images/rubik5x5.jpg'%}" alt="Cubo 3x3" class="img">
                <h3>Cubo 5X5</h3>
                <p class="p">$300</p>
                <button class="button">Ver Detalles</button>
            </div>

        </div>
           
        <div class="cube">
            <p class="cube-title">CUBO 3X3</p>
            <img src="{% static 'images/rubik.png'%}" alt="Valores" class="cube-img">
        </div>
    </div>
</div>

{%endblock%}