{% extends "base/base.html" %}
{%load static%}

{%block titulo%} Inicio {%endblock%}

{%block contenidoTitulo%}

<div class='bloque-de-color'>
    <div class='contLandind'>
        <h3>Inicio</h3>
    </div>  
</div>

{%endblock%}

{%block contenidoPrincipal%}

<div class='container-fluid py-3'>
    <!--Encabezado -->
    <div class='row align-items-start'>
        <div class='col text-start'>
            <p class='color-text'>Mas buscado</p>
            <img src="{% static 'images/home.png'%}" alt='Imagen'>
        </div>
    </div>
    <!-- /Encabezado-->
</div>

{%endblock%}

