{% extends "base/base.html" %}

{% load static %}

{%block titulo%} Nosotros {%endblock%}

{%block contenidoTitulo%}

    <div class='bloque-de-color'>
        <div class='contLandind'>
            <h3>Nosotros</h3>
        </div>  
    </div>

{%endblock%}


{%block contenidoPrincipal%}

    <!--Contendor que contiene la informacion de la empresa-->
    <div class="contenedor">

        <div class="seccion">
            <img src="{% static 'images/nosotros2.jpg'%}" alt="Valores" class="img3">
            <div class="text">
                Valores: en 'Aprende Jugando', imaginamos un mundo donde cada niño tiene acceso a herramientas lúdicas que fomentan el aprendizaje, la creatividad 
                y el desarollo integral. Aspiramos a ser líderes en la provisión de juegos didácticos que no solo entretienen, sino que también educan 
                y potencian las habilidades cognitivas, emocionales y sociales de los niños.
            </div>
        </div>
        
        <div class="seccion">
            <div class="text">
                Objetivos: en 'Aprende Jugando', nos dedicamos a fomentar el aprendizaje a través del juego, ofreciendo productos que estimulan la curiosidad, 
                el pensamiento crítico y la resolución de problemas. Promovemos el desarrollo integral de los niños, abarcando diversas áreas, todo mientras garantizamos 
                la más alta calidad y seguridad en nuestros productos. Innovamos constantemente para incorporar las últimas investigaciones en educación y desarrollo 
                infantil, y aseguramos que nuestros juegos sean accesibles y sostenibles. Además, valoramos a nuestros clientes y 
                nos esforzamos por brindar un servicio excepcional, ayudando a los padres a elegir las mejores herramientas de aprendizaje para sus hijos.
            </div>
            <img src="{% static 'images/nosotros.png'%}" alt="Objetivos" class="img3">
        </div>
        
    </div>

{% endblock %}

