{% extends "base/base.html" %}

{%block titulo%} Categorias-Productos {%endblock%}

{%block contenidoTitulo%}

    <div class='bloque-de-color'>
        <div class='contLandind'>
            <h3>Productos</h3>
        </div>  
    </div>

{%endblock%}




{%block contenidoProductos%}

    <div class="contenedorCards">

        <!-- {% for curso in curso %} -->

            <div class="card">
                <img src="https://via.placeholder.com/200" alt="Cubo 3x3" class="img">
                <h3>Cubo 3X3</h3>
                <p class="p">$300</p>
                <button class="button">Ver Detalles</button>
            </div>

        <!-- {% endfor %} -->

    </div>

{%endblock%}


