{% extends 'base/base.html' %}

{% block titulo %}
    Registro
{% endblock %}

{%block contenidoTitulo%}

<div class='bloque-de-color'>
    <div class='contLandind'>
        <h3>Registro</h3>
    </div>  
</div>

{%endblock%}

{% block contenidoPrincipal %}
{% load static %}

<div class="container">
   
<div class="new-form-wrapper">
    <div class="new-form-container">
        <form action="" method="post">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="email" name="correo" placeholder="Correo">
            <input type="password" name="contrasena" placeholder="Contraseña">
            <input type="password" name="repetir_contrasena" placeholder="Repetir contraseña">
            <button type="submit">Registrar</button>
        </form>
        <div class="new-cube-image">
            <img src="{% static 'images/rubik.png' %}" alt="Cube Image">
        </div>
    </div>
</div>
{% endblock %}
