{% extends 'base/base.html' %}

{% block titulo %}
    Categorias
{% endblock %}

{%block contenidoTitulo%}

<div class='bloque-de-color'>
    <div class='contLandind'>
        <h3>Categorias</h3>
    </div>  
</div>

{%endblock%}

{% block contenidoPrincipal %}
{% load static %}


<div class="row text-center">
    <div class="contenedor-category-cards">
        {% for categoria in categorias %}
        <div class="category-card bg-info">
            <a href="{% url 'Productos' %}" class="link-categorias">
                <h2 class="h2Categorias">{{ categoria.nombre }} <img src="{{ categoria.imagen.url }}" class="imgCategoria"></h2>
                <ul class="textCategorias">
                    {% for subcategoria in categoria.subcategorias.all %}
                    <li>{{ subcategoria.nombre }}</li>
                    {% endfor %}
                </ul>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
