{% extends "base/base.html" %}

{%block titulo%} Categorias-Productos {%endblock%}

{%block contenidoTitulo%}

    <div class='bloque-de-color'>
        <div class='contLandind'>
            <h3>Productos</h3>
        </div>  
    </div>

{%endblock%}




{%block contenidoProductos%}

    <div class="contenedorCards">

        {% for productos in productos %} <!--Ciclo que extrae los productos registrados-->

            <!--Elementos que se muestran en el card-->
            <div class="card">
                <img src="{{productos.imagen.url}}" class="img">
                    <h3>{{productos.nombre}}</h3>
                    <p class="p">${{productos.precio}}</p>
                    <button class="button">Ver Detalles</button>
            </div>

        {% endfor %}

    </div>

{%endblock%}


