{% extends "base/base.html" %}

{%block titulo%} Categorias-Productos {%endblock%}

{%block contenidoTitulo%}

    <div class='bloque-de-color'>
        <div class='contLandind'>
            <h3>Productos</h3>
        </div>  
    </div>

{%endblock%}


{% block contenidoProductos %}

    <div class="contenedorCards">

        {% for producto in productos %} <!-- Ciclo que extrae los productos registrados -->

            <!-- Elementos que se muestran en el card -->
            <div class="card">
                <img src="{{ producto.imagen.url }}" class="img">
                <h3>{{ producto.nombre }}</h3>
                <p class="p">${{ producto.precio }}</p>
                <!-- Otros detalles del producto (si los tienes) -->
                <a href="{% url 'Reviews' pk=producto.pk %}">Ver detalles</a>
            </div>

        {% endfor %}

    </div>

{% endblock %}



