/* custom.css */
body {
    font-family: Arial, sans-serif;
}

.colornav {
    background-color: rgb(16, 200, 241);
}

.nav-link {
    margin-right: 140px !important;
    margin-left: 140px;
}

.bloque-de-color {
    width: 100%; /* Ancho del bloque */
    height: 200px; /* Alto del bloque */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #1f587e; /* Color de fondo del bloque */
  }
  
.contLandind{
    color: rgb(255, 255, 255);
}

.imgCourses {
    width: 30%;
    height: 30%;
}


/*PRODUCTOS*/
.header {
    background-color: #009fe3;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.contenedorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    padding-right: 70px;
    padding-left: 70px;
}

.card {
    background-color: white;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    width: 300px;
    margin-bottom: 50px;
}

.img {
    width: 100%;
    height: auto;
}

.img2 {
    width: 500px;
    height: 300px;
}

.p {
    color: #666;
    font-size: 15px;
}

.button {
    background-color: #009fe3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


/* ESTILOS NOSOTROS */
.contenedor {
    width: 100%;
    padding: 10px;
}

.seccion {
    display: flex;
    align-items: center;
    margin: 20px;
}

.text {
    flex: 1;
    padding: 20px;
    background-color: #69b1ff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 25px;
}

.img3 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 25px;
}

/* Inicio Grid categorias */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 28vw;
    margin-top: 3%;
}

.item {
    border-radius: 10px;
    position: relative;
}

.large {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #bb42f5;
}

.medium {
    grid-column: span 3;
    background-color: #ff2d86;
}

.small {
    grid-column: span 1;
    background-color: #4386f9;
}

.violet {
    background-color: #5b5ef7;
}

.light-purple {
    background-color: #aa61f7;
}

.title-cat {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 25px;
    color: aliceblue;
}

.img-cat-large {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    margin: 25px;
}

.img-cat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 25px;
}